<a href="https://colab.research.google.com/github/DivyaBharathi30/Git_gym/blob/main/Python_Library_in_python_Practice_Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Python Library in python - Practice Assignment 1
#Q 1.
import pandas as pd 
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],

               'score': [12.5, 9, 16.5, 9, 2, 20, 14.5, 10, 8, 19],

              'attempts': [1, 3, 4, 3, 5, 3, 6, 1, 7, 1] } 
df = pd.DataFrame(exam_data) 

print(df[['name', 'score']])

        name  score
0  Anastasia   12.5
1       Dima    9.0
2  Katherine   16.5
3      James    9.0
4      Emily    2.0
5    Michael   20.0
6    Matthew   14.5
7      Laura   10.0
8      Kevin    8.0
9      Jonas   19.0

In [ ]:
#Q 2.
import pandas as pd 
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],

               'score': [12.5, 9, 16.5, 9, 2, 20, 14.5, 10, 8, 19],

              'attempts': [1, 3, 4, 3, 5, 3, 6, 1, 7, 1] } 
df = pd.DataFrame(exam_data) 
attempts=df.query('attempts>3')
print(attempts)

        name  score  attempts
2  Katherine   16.5         4
4      Emily    2.0         5
6    Matthew   14.5         6
8      Kevin    8.0         7

In [ ]:
#Q 3. a)Select rows where age is greater than 30:
import pandas as pd 
data = {'name': ['Alice', 'Bob', 'Charlie', 'Dave'],

        'age': [25, 35, 40, 28],

        'gender': ['F', 'M', 'M', 'M'],

        'salary': [50000, 70000, 60000, 80000]}

df = pd.DataFrame(data)
age=df.query('age>30')
print(age)

      name  age gender  salary
1      Bob   35      M   70000
2  Charlie   40      M   60000

In [ ]:
#b) Select rows where name contains 'e':
import pandas as pd 
data = {'name': ['Alice', 'Bob', 'Charlie', 'Dave'],

        'age': [25, 35, 40, 28],

        'gender': ['F', 'M', 'M', 'M'],

        'salary': [50000, 70000, 60000, 80000]}

df = pd.DataFrame(data)
df_filtered = df[df['name'].str.contains(('e'))]

print(df_filtered)

      name  age gender  salary
0    Alice   25      F   50000
2  Charlie   40      M   60000
3     Dave   28      M   80000

In [ ]:
#c) Select rows where gender is 'M' and salary is greater than 65000:
import pandas as pd 
data = {'name': ['Alice', 'Bob', 'Charlie', 'Dave'],

        'age': [25, 35, 40, 28],

        'gender': ['F', 'M', 'M', 'M'],

        'salary': [50000, 70000, 60000, 80000]}

df = pd.DataFrame(data)
names=df.query('gender == ["F", "M"] and salary>65000')
print(names)

   name  age gender  salary
1   Bob   35      M   70000
3  Dave   28      M   80000

In [ ]:
#d) Select columns 'name' and 'age':
import pandas as pd 
data = {'name': ['Alice', 'Bob', 'Charlie', 'Dave'],

        'age': [25, 35, 40, 28],

        'gender': ['F', 'M', 'M', 'M'],

        'salary': [50000, 70000, 60000, 80000]}

df = pd.DataFrame(data)
columns=df.loc[:,['name','age']]
print(columns)

      name  age
0    Alice   25
1      Bob   35
2  Charlie   40
3     Dave   28

In [ ]:
#e) Select columns 'name' and 'salary' where age is less than or equal to 30:
import pandas as pd 
data = {'name': ['Alice', 'Bob', 'Charlie', 'Dave'],

        'age': [25, 35, 40, 28],

        'gender': ['F', 'M', 'M', 'M'],

        'salary': [50000, 70000, 60000, 80000]}

df = pd.DataFrame(data)
df_filtered=df.loc[:,['name','salary']]
df_filtered = df[df['age'] <= 30]
print(df_filtered)

    name  age gender  salary
0  Alice   25      F   50000
3   Dave   28      M   80000